<footer>
    <div class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="get-text">
                        <i class="fa fa-map-marker"></i>
                        <p>1 Rue de Rivoli,<br> 75001 Paris</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="get-text">
                        <i class="fas fa-mobile-alt"></i>
                        <ul>
                            <li>123-123-123</li>
                            <li>000-000-000</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="get-text">
                        <div class="get-text email">
                            <i class="fas fa-envelope"></i>
                            <p>ArdmanGym@gym.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="logoContainer">
                        <a  routerLink="/" class="logo">
                            {{title[0]}}<span>{{title[1]}}</span>
                        </a>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione sit iure consequatur minus. Dolores, laboriosam. Debitis.</p>
                    <div class="fa-social">
                        <a href="#" target="_bank"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" target="_bank"><i class="fab fa-twitter"></i></a>
                        <a href="#" target="_bank"><i class="fab fa-youtube"></i></a>
                        <a href="#" target="_bank"><i class="fab fa-instagram"></i></a>
                        <a routerLink="contact"><i class="fas fa-envelope"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="widget">
                        <h4>Liens Rapides</h4>
                        <ul>
                            <li><a href="~#">A propos</a></li>
                            <li><a href="~#">Blog</a></li>
                            <li><a href="~#">Enseignement</a></li>
                            <li><a routerLink="contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="widget">
                        <h4>Support</h4>
                        <ul>
                            <li><a routerLink="activity">Programme</a></li>
                            <li><a routerLink="createUser">Inscription</a></li>
                            <li><a routerLink="auth">Connexion</a></li>
                            <li><a href="#">Mentions Légales</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="widget">
                        <h4>Guides & Conseils</h4>
                        <div class="recent">
                            <h6>
                                <a href="#">La forme physique peut aider à prévenir la dépression, l'anxiété</a>
                            </h6>
                            <ul>
                                <li>3 minutes de lecture</li>
                                <li>20 Commentaire</li>
                            </ul>
                        </div>
                        <div class="recent">
                            <h6>
                                <a href="#">Fitness : Le meilleur exercice pour perdre du ventre et se tonifier...</a>
                            </h6>
                            <ul>
                                <li>3 minutes de lecture</li>
                                <li>20 Commentaire</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="copyright-text">
                        <p>Copyright&#169;</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
